/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    min-height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Archivo+Black);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800,900);

/* Bootstrap padding: 70px; required for fixed-top nav*/
body {
    height: 100%;
    font-size: 16px;
    line-height: 1.7;
    /*background-color: #fff;*/
    /*background: #DCE8EC;*/
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    color: #666666;
    font-family: 'Open Sans', sans-serif;

}

/* Container-Fluid for all sections */
.page-section {
    width: 100%;
    height: auto;
    padding: 35px;
    /*background-color: red;*/
}



/*Logo at top of page*/
#logo-info {
    background-color: #ffffff;
}
#logo img {
    float: left;
    width: 5em;
    height: 5em;
    padding: 5px;
    margin-left: 2em;
}

#header-moto {
    margin-top: 35px;

}
/* Contact Area on top of page*/
.contact-area {
    float: right;
    color:  #00a1cb;
}
.contact-area ul {
    padding-right: 40px;
}
.contact-area ul li {
    display: inline-block;
    margin-top: 1.8995em;
    margin-right: 1.5em;
}
.contact-area ul li a:visited {
    color:  #00a1cb;
}

/* Brand color/font/position */
.navbar-brand {
    margin-right: 50px;
    padding: 12px 0px 0 0;
}

.navbar-brand  b {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    text-shadow: 0px 1px 1px #000;
}

/* tranparent navbar*/
.header .navbar {
   /* background-color: #00a1cb;*/
    padding: 0 4em 0 4em;
    margin-bottom: 0;
    border: none;
    background: #11aac9;
    background: linear-gradient( to bottom, #11aac9 0%, #64d1e7 100%);

}

#mainNav li a {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 1px #000;
    font-size: 1em;
    /*margin: 0;*/
    padding: 15px 5px 15px 10px;
}
.navbar #mainNav .active a {
    background-color: #c8dfe5;
}
#mainSection {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;

}

#facility-img {
    padding: 0;
    position: relative;
}
 #facility-img img {
    width: 100%;
 }

/*=============  centered columns styles -begin =======================*/
.row-centered {
    text-align:center;
    padding:25px 0 0 0;
    margin:50px;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-max {
    /* custom max width */
    max-width:320px;
    }

    /*=============  centered columns styles - end =======================*/

    /* Default background and text color for colord sections*/
.colord {
    color: #ffffff;
    background-color: rgb(3,115,146);
    text-shadow: 0px 1px 1px #000;
    font-weight: 900;

    /*text-shadow: 1px 1px 2px rgba(0,0,0,.7);*/

    /*text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;*/
}
.non-colord {
    background: #f5f5f5;
}
.non-colord h1 {
    color: #222;
}
/* SERVICES CSS */
#services p {
    margin: 0 100px 40px 100px;
    text-align: center;
}
#services {
    background: #f5f5f5;
  }
  .fa-plus-square, .fa-heartbeat,  .fa-user-md {
    /*color: #FF0000;*/
    /*text-shadow: none;*/

}

#service-left, #service-middle, #service-right {
    /*text-transform: uppercase;*/
    width: 285px;
    height: 285px;
    border-radius: 50%;
    border: 2px solid #037392;
    vertical-align: top;
    background: #037392;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}

#service-left {
        margin-right: 20px;
}
    /*background: radial-gradient( 100px circle at center center, rgba(127,223,243,.9) 0%, rgba(0,163,197,.85) 100%);*/
    /*background: #D16900;*/
    /*background-clip: padding-box;*/
     /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #1C6409),
    color-stop(1, #08FA50)
);
background-image: -o-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -moz-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -webkit-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -ms-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: linear-gradient(to bottom, #1C6409 0%, #08FA50 100%);*/


/*#service-middle {
    font-weight: 500;
    text-transform: uppercase;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    border: 2px solid #037392;
    vertical-align: top;
    color: #141414;
}*/

    /*background: #009B2F;*/
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.7);*/
    /*background: radial-gradient( 100px circle at center center, rgba(127,223,243,.9) 0%, #005f8d 100%);*/
    /*background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #1C6409),
    color-stop(1, #08FA50)
);
background-image: -o-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -moz-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -webkit-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: -ms-linear-gradient(bottom, #1C6409 0%, #08FA50 100%);
background-image: linear-gradient(to bottom, #1C6409 0%, #08FA50 100%);*/

#service-right {
    margin-left: 25px;
}
    /*background: radial-gradient( 100px circle at center center, rgba(127,223,243,.9) 0%, rgba(0,163,197,.85) 100%);*/
    /*color: #ffffff;*/
    /*font-weight: 500;
    text-transform: uppercase;*/
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.7);*/
    /*width: 285px;
    height: 285px;
    border-radius: 50%;
    border: 2px solid #037392;
    vertical-align: top;
    color: #222;*/
/*    background: #D1A500;*/

.service-icon {
    font-size: 2em;
/*    margin-bottom: .5em;
*/    border-radius: 50%;
    /*background: #037392;*/
    width: 75px;
    height: 70px;
    margin-left: 80px;
}
/* About Us */
/*#about-us h1 {
    color: #222;
}*/
#about-us p {
    /*color: #858585;*/
}
/* Testimonial Section */


/*---------- Carousel ----------------------*/
.carousel-content {
padding: 60px 0;
margin: 0;
text-align: center;
/*background: #269B9E;*/
}
.carousel-content p {
color: #222;
font-size: 16px;
line-height: 30px;
font-style: italic;
}
/*.carousel-indicators {
bottom: 30px;
}*/
.carousel-inner {
    margin: 0 auto;
    padding: 0 auto;
}

/*Removes Bootstrap carousel standard background gradient*/
.carousel-control.right, .carousel-control.left {
  display:none;
}
/*carousel-inner {
    margin: auto;
    background-color: #27AFD3;
}*/
/*.carousel-inner p {
    padding-left: 125px;
    padding-right: 125px;*/
/*    margin: 20px;
*/    /*color: #ffffff;*/
/*}*/
/*.carousel-indicators {
    bottom: 0;
}*/

#forms p {
    margin: 40px 100px 0 100px;
    text-align: center;
}

#forms .btn {
    /*background-color: #f5f5f5;*/
    background-color: rgb(3,115,146);
    color: #fff;
    /*color: rgb(3,115,146);*/
    margin-top: 40px;
    text-shadow: none;
}
/*========== Appointment =================*/
#appointment {
/*    height: auto;
*/}
#appointment p {
    margin: 40px 100px 0 100px;
    text-align: center;
}
#appointment a {
    color: rgb(3,115,146);
    /*text-decoration: underline;*/
}

#appointment .btn {
    /*background-color: rgb(3,115,146);*/
    border: 1px solid rgb(3,115,146);
    margin-top: 40px;
    color: rgb(3,115,146);
}

/* Modal: Aligns email field with other fields */
.input-group[class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    }

.modal-body {
    background-color: rgb(3,115,146);
    color: #fff;
        text-shadow: 0px 1px 1px #000;

}
/* Modal email icon */
.input-group-addon {
    text-shadow: none;
}

.modal-title {
    color: #222;
    text-transform: uppercase;
}


/* FOOTER CSS */
footer {
  position: static;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  background: #363839;
  color: #fff;
}

footer a {
    color: #fff;
}
#footer-contact-col {
    /*border: 1px solid red;*/
}

    /* Fix map marker CSS z-index*/
address {
    float: right;
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    /*padding: 5px;*/
    /*text-align: left;*/
    padding-right: 45px;


}
#footer-contact-col .fa-envelope, #footer-contact-col .fa-phone {
    font-size: 2em;
    padding-right: 20px;
    vertical-align: middle;
}
.fa-car {
    /*position: static;*/
    /*color: #5cb85c;*/
    /*text-shadow: 1px 1px #ffffff;*/
    /*left: 10pxstatic;*/
    left: 1px;
    font-size: 2em;
    position: absolute;
    bottom: 25px;
    padding-left: 13px;
    vertical-align: middle;
}

#phone-number, #email-address {
    /*font-size: 1em;*/
}
address a:hover {
    text-decoration: none;
    color: #5cb85c;
}
#footer-follow-us {
    border: 1px solid red;
}

/*#footer-contact h4 {
    margin-left: 35px;
    text-decoration: underline;
}*/
#footer-site-col {
        /*border: 1px solid red;*/
}


#footer-contact-col {
        /*border: 1px solid red;*/

}
#footer-contact .fa-phone-square {
    color: #5cb85c;
    font-size: 1.5em;
    top: 85px;
    left: 1px;
    position: absolute;
    text-shadow: 1px 1px #ffffff;

}

#footer-site-col ul li {
    display: inline-block;

}

/*==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
div#logo {
}


a.phone {
    margin-left: 30px;;
}